<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdh.chart">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StatisticPieChart"
            android:label="@string/statistic_title"></activity>
        <activity android:name=".activities.ChartDescribeActivity" />
        <activity
            android:name=".activities.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PieChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LineChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DonutChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>